.card {
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 512px;
  box-shadow: 0px 35px 70px 0px rgba(138, 77, 148, 0.65),
    0px 30px 40px -10px rgba(34, 65, 91, 0.65);
  background: linear-gradient(180deg, #7c39a4 0%, #491001 100%);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-weight: normal;
  font-size: 2.5em;
  transition: opacity 0.05s ease;
  font-family: 'BLANKA';
}

.logo:hover {
  opacity: 0.75;
}

.social {
  display: flex;
}

.social a {
  display: inline-block;
  margin-right: 12px;
  transition: opacity 0.05s ease;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  opacity: 0.75;
}

.social .icon {
  width: 18px;
  fill: #fff;
}

.content {
  flex: 1 1 auto;
  min-height: 256px;
  display: flex;
  padding: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content .title-holder {
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
  font-style: italic;
  position: relative;
}

.content .title-holder h1 {
  position: relative;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 12px;
  font-family: 'BLKCHCRY';
}

.content .title-holder p {
  position: relative;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Van Helsing';
}

.content .title-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  z-index: 1;
}

/* Resize images */
.content .title-image img {
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.content .mail-to {
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
  font-style: italic;
  position: relative;
}

.content .cta {
  min-width: 64px;
  padding: 16px 24px;
  background: #b12a93;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1em;
  font-weight: bolder;
  transform: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    transform 0.1s linear;
}

.content .cta:hover {
  transform: translateY(-1px);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

a.underlined:hover {
  border-bottom: 1px dotted #fff;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 768px) {
  .social a {
    margin-right: 8px;
  }
}

@media screen and (max-width: 768px) {
  .social .icon {
    width: 14px;
  }
}

@media screen and (max-width: 768px) {
  .content .title-holder {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content .title-image {
    width: 25%;
    height: 25%;
  }
}

@media screen and (max-width: 768px) {
  .content .title-holder h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .content .title-holder p {
    font-size: 20px;
    font-weight: 300;
  }
}

@media screen and (max-width: 512px) {
  .header {
    padding: 24px;
  }
}

@media screen and (max-width: 512px) {
  .content {
    padding: 24px;
  }
}

@media screen and (max-width: 512px) {
  .logo {
    font-size: 1em;
  }
}

@media screen and (max-width: 512px) {
  .social a {
    margin-right: 6px;
  }
}

@media screen and (max-width: 512px) {
  .social .icon {
    width: 9px;
  }
}

@media screen and (max-width: 512px) {
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 512px) {
  .content .title-holder h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 512px) {
  .content .title-holder p {
    font-size: 15px;
    font-weight: 250;
  }
}
@media screen and (max-width: 512px) {
  .content .title-image {
    width: 20%;
    height: 20%;
  }
}
